# Configurações do Banco de Dados
DB_CONNECTION_STRING=Data Source=OrderManagement.db

# Configurações de Segurança JWT (Devem ter pelo menos 32 caracteres)
JWT_KEY=SUPER_SECURE_PRODUCTION_READY_KEY_FOR_JWT_TOKEN_2026!
JWT_ISSUER=OrderManagementAPI
JWT_AUDIENCE=OrderManagementUsers

# Configurações do Servidor
ASPNETCORE_ENVIRONMENT=Development
PORT_HTTP=8080